.aboutme {
    margin: 60px;

    .aboutme * {
        padding: 0;
        margin: 0;
    }

    p {
        white-space: pre-wrap;
        font-family: Arial, sans-serif;
        margin: 10px;
    }

    h2 a {
        margin: 10px;
    }
    .testimg {
width: 80%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
  width: 30%;
  }

  
  .btn {
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    transition: 1s ease-in-out;
  }

  .aboutme .column {
    display: flex;
    gap: 15px;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: rgb(19, 110, 91);
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: rgb(56, 44, 44);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    text-align: center;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }


  