#chat-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #969494;
  border-radius: 10px;
  span {
    color: rgb(155, 42, 221);
  }
}

#chat-box {
  height: 170px;
  overflow-y: scroll;
  margin-bottom: 10px;
  border: 1px solid #aaaaaa;
  padding: 10px;
  border-radius: 5px;
}

#user-input {
  width: 70%;
  padding: 10px;
  background-color: #969494;
}

button {
  width: 15%;
  margin-left: 20px;
  padding: 10px;
  background-color: #5a5858;
}
