footer {
  background-color: #111;
  padding: 1rem 2rem;

  nav {
    display: flex;
    flex-direction: unset;
    ul {
      width: 90%;
      display: flex;
      align-items: center;
      text-align: center;
      height: 15px;
      gap: 30px;
      list-style: none;
    }
    li:hover{
      color: purple;
    }
  }

}

.matrix-text,
.matrix-char {
  display: flex;
  color: green;
  font-family: 'Courier New', Courier, monospace;


}