.form {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  .form__title,
  .form__image,
  .form__gitlink,
  .form__description {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
  }

  input,
  textarea {
    color: black;
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  .form-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .form-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form__submit {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .form__submit:hover {
    background: #0056b3;
  }

  .open-form-button {
    display: inline-block;
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .open-form-button:hover {
    background: #218838;
  }
}