header {
  background-color: #111;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  h4{
    margin: 0;
    font-size: 38px;
  }
  span {
    margin: 0;
  }
}


