nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #ddd;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #444;
    display: inline-block;
    position: relative;
    transition: color 0.3s, background-color 0.3s;
    overflow: hidden;
}

nav a:hover {
    color: #222;
    background-color: #ddd;
}

nav a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #ddd;
    transition: width 0.3s;
}

nav a:hover:before {
    width: 100%;
}

nav a:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: #ddd;
    transition: width 0.3s;
}

nav a:hover:after {
    width: 100%;
}

nav a span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 2px;
    background: #ddd;
    transition: height 0.3s;
}

nav a:hover span:before {
    height: 100%;
}

nav a span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 2px;
    background: #ddd;
    transition: height 0.3s;
}

nav a:hover span:after {
    height: 100%;
}