body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #ddd;
  background-color: #222;
  overflow-x: hidden;
}

h1 {
  font-size: 1em;
  display: inline-flex;
  overflow: hidden;
  position: relative;
}

h1 span {
  display: inline-block;
  will-change: transform;
  margin: 0 5px;
}

main {
  position: relative;
  z-index: 1;
}

* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
}

.login,
.logout {
  display: flex;
  flex-direction: column;
}

button {
  width: 7%;
  min-width: 100px;
  align-self: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;

}

.btncontainer {
  display: flex;
  background-color: #3f3e3e;
  border-radius: 25px;
  margin: 35px;
  padding: 35px;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  justify-content: center;
}

.columntop {
  padding-bottom: 40px;
}

.columnbot {
  padding-top: 40px;
}

.columnbot,
.columntop {
  display: flex;
  justify-content: space-between;
}

.tech-button,
.tech-button2,
.tech-button3,
.tech-button4 {

  padding: 20px 40px;
  background-color: #111;
  color: #fff;
  font-size: 18px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid darken(rgb(50, 50, 60), 10%);
    transition: opacity 0.3s, border 0.3s;
  }

  &:hover::before {
    opacity: 1;
    border: 3px solid darken(#00ff00, 10%);
  }



}

.tech-button:hover+.button-extension,
.tech-button2:hover+.button-extension2,
.tech-button3:hover+.button-extension3,
.tech-button4:hover+.button-extension4 {
  opacity: 1;
  transform: translateX(0);
  visibility: inherit;
}

.button-extension2 {
  right: 133px;
  visibility: hidden;
}

.button-extension {
  right: -100px;

  visibility: hidden;
}

.button-extension3 {
  left: 15px;
  visibility: hidden;
  margin-top: -60px;
}

.button-extension4 {
  left: 28px;
  visibility: hidden;
  margin-top: 60px;
}

.button-extension,
.button-extension2,
.button-extension3,
.button-extension4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.button-line,
.button-line2,
.button-line3,
.button-line4 {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 10px;
  position: relative;
  top: 25%;
}

.line-segment,
.line-segment2,
.line-segment3,
.line-segment4 {
  width: 5px;
  height: 3px;
  background-color: #00ff00;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.line-segment.active,
.line-segment2.active,
.line-segment3.active,
.line-segment4.active {
  opacity: 1;
}

.button-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  position: relative;
  top: -40px;
}


.icon {
  padding-right: 10px;
  height: 50px;
}

.iconcontain {
  display: flex;

}
.myself img {
  width: 90%;
}

.myself {
  margin-right: 50px;
  margin-left: 95px;
}

.title {
  text-align: center;
  font-family: 'Bebas Neue';
}

.columnright {
  margin-left: 7px;
}

@media (max-width: 860px) {

  .btncontainer,
  .columntop,
  .columnbot {
    flex-direction: column;
    height: unset;
  }

  .tech-button,
  .tech-button2,
  .tech-button3,
  .tech-button4 {
    max-width: 125px;
  }

  .myself {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
  }

  .button-extension2 {
    right: 126px;
    visibility: hidden;
  }
  
  .button-extension {
    right: -100px;
    visibility: hidden;
  }
  
  .button-extension3 {
    right: 230px;
    visibility: hidden;
    margin-top: initial;
  }
  
  .button-extension4 {
    right: -195px;
    visibility: hidden;
    margin-top: initial;
  }

}

@media (max-width: 450px) {
  .aboutme .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}