body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #ddd;
  background-color: #222;
  overflow-x: hidden;
}

h1 {
  font-size: 1em;
  display: inline-flex;
  overflow: hidden;
  position: relative;
}

h1 span {
  display: inline-block;
  will-change: transform;
  margin: 0 5px;
}

main {
  position: relative;
  z-index: 1;
}

* {
  text-decoration: none;
  color: white;
}

.login,
.logout {
  display: flex;
  flex-direction: column;
}

button {
  width: 7%;
  min-width: 100px;
  align-self: center;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.btncontainer {
  display: flex;
  background-color: #3f3e3e;
  border-radius: 25px;
  margin: 35px;
  padding: 35px;
  justify-content: center;
  align-items: center;
  height: 90vh;
  justify-content: space-around;
}

.button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columntop {
  padding-bottom: 80px;
}

.columnbot {
  padding-top: 80px;
}

.columnbot, .columntop {
  display: flex;
  justify-content: space-between;
}

.tech-button, .tech-button2, .tech-button3, .tech-button4 {
  padding: 20px 40px;
  background-color: #111;
  color: #fff;
  font-size: 18px;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  margin-bottom: 15px;
}
.tech-button::before, .tech-button2::before, .tech-button3::before, .tech-button4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #1b1b20;
  transition: opacity 0.3s, border 0.3s;
}
.tech-button:hover::before, .tech-button2:hover::before, .tech-button3:hover::before, .tech-button4:hover::before {
  opacity: 1;
  border: 3px solid #00cc00;
}

.tech-button:hover + .button-extension,
.tech-button2:hover + .button-extension2,
.tech-button3:hover + .button-extension3,
.tech-button4:hover + .button-extension4 {
  transform: translateX(0);
  opacity: 1;
}

.button-extension2 {
  right: 149px;
}

.button-extension {
  right: -100px;
}

.button-extension3 {
  left: 137px;
}

.button-extension4 {
  right: -100px;
}

.button-extension, .button-extension2, .button-extension3, .button-extension4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.button-line, .button-line2, .button-line3, .button-line4 {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 10px;
  position: relative;
  top: 25%;
}

.line-segment, .line-segment2, .line-segment3, .line-segment4 {
  width: 5px;
  height: 3px;
  background-color: #00ff00;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.line-segment.active, .line-segment2.active, .line-segment3.active, .line-segment4.active {
  opacity: 1;
}

.button-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  position: relative;
  top: -40px;
}

.icon {
  padding-right: 10px;
  height: 50px;
}

.iconcontain {
  display: flex;
}

.myself img {
  width: 80%;
  padding-left: 35px;
}

@media (max-width: 860px) {
  .btncontainer, .columntop, .columnbot {
    flex-direction: column;
    height: unset;
  }
  .tech-button, .tech-button2, .tech-button3, .tech-button4 {
    max-width: 125px;
  }
}
@media (max-width: 450px) {
  .aboutme .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
header {
  background-color: #111;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
header h3 {
  margin: 0;
  font-size: 38px;
}
header span {
  margin: 0;
}

footer {
  background-color: #111;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}
footer nav {
  display: flex;
  flex-direction: unset;
}
footer nav ul {
  width: 90%;
  display: unset;
}

.matrix-text,
.matrix-char {
  display: flex;
  color: green;
  font-family: "Courier New", Courier, monospace;
}

.works {
  background-color: rgb(63, 62, 62);
  border-radius: 25px;
  padding: 35px;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 760px) {
  .works {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
}
.works__cards {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2px;
  width: 40%;
  flex-wrap: wrap;
}
@media screen and (max-width: 568px) {
  .works__cards {
    width: 100%;
  }
}
.works__cards img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.works__projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.glow-on-hover {
  margin-top: 20px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.form {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.form .form__title,
.form .form__image,
.form .form__gitlink,
.form .form__description {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}
.form input,
.form textarea {
  color: black;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.form .form-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.form .form-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form .form__submit {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.form .form__submit:hover {
  background: #0056b3;
}
.form .open-form-button {
  display: inline-block;
  padding: 10px 20px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form .open-form-button:hover {
  background: #218838;
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
nav ul a {
  width: 15%;
  height: 55px;
  min-width: 125px;
}

@keyframes animateTop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animateBottom {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animateRight {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes animateLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.animated-button1 {
  background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  padding: 20px 40px;
  margin: 12px;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
.animated-button1.active {
  overflow: initial;
}

.animated-button1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
  animation: 2s animateTop linear infinite;
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
  animation: 2s animateRight linear -1s infinite;
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  animation: 2s animateBottom linear infinite;
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
  animation: 2s animateLeft linear -1s infinite;
}

.animated-button2 {
  background: linear-gradient(-30deg, #3d240b 50%, #2b1a08 50%);
  padding: 20px 40px;
  margin: 12px;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7e6d4;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
.animated-button2.active {
  overflow: initial;
}

.animated-button2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad9985;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

.animated-button2:hover::before {
  opacity: 0.2;
}

.animated-button2 span {
  position: absolute;
}

.animated-button2 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, rgba(43, 26, 8, 0), #d98026);
  animation: 2s animateTop linear infinite;
}

.animated-button2 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, rgba(43, 26, 8, 0), #d98026);
  animation: 2s animateRight linear -1s infinite;
}

.animated-button2 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(43, 26, 8, 0), #d98026);
  animation: 2s animateBottom linear infinite;
}

.animated-button2 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, rgba(43, 26, 8, 0), #d98026);
  animation: 2s animateLeft linear -1s infinite;
}

.animated-button3 {
  background: linear-gradient(-30deg, #3d3d0b 50%, #2b2b08 50%);
  padding: 20px 40px;
  margin: 12px;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7f7d4;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.animated-button3.active {
  overflow: initial;
}

.animated-button3::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #adad85;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

.animated-button3:hover::before {
  opacity: 0.2;
}

.animated-button3 span {
  position: absolute;
}

.animated-button3 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, rgba(43, 43, 8, 0), #d9d926);
  animation: 2s animateTop linear infinite;
}

.animated-button3 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, rgba(43, 43, 8, 0), #d9d926);
  animation: 2s animateRight linear -1s infinite;
}

.animated-button3 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(43, 43, 8, 0), #d9d926);
  animation: 2s animateBottom linear infinite;
}

.animated-button3 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, rgba(43, 43, 8, 0), #d9d926);
  animation: 2s animateLeft linear -1s infinite;
}

nav a {
  text-decoration: none;
}

.active li {
  color: rgb(86, 181, 236);
}

@media screen and (max-width: 860px) {
  ul {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    justify-content: center;
  }
}
.shop h3 {
  text-align: center;
  color: rgb(15, 226, 15);
}

.product-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.product-item {
  background-color: rgb(63, 62, 62);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.product-item a {
  margin-top: 20px;
  position: relative;
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
}

.product-item span {
  color: white;
  position: absolute;
  top: -12px;
  left: 35%;
}

.product-item p {
  cursor: pointer;
  position: absolute;
  top: -12px;
  right: 20px;
  color: red;
  margin: 0;
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
.aboutme {
  margin: 60px;
}
.aboutme .aboutme * {
  padding: 0;
  margin: 0;
}
.aboutme p {
  white-space: pre-wrap;
  font-family: Arial, sans-serif;
  margin: 10px;
}
.aboutme h2 a {
  margin: 10px;
}
.aboutme .testimg {
  width: 80%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 30%;
}

.btn {
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  transition: 1s ease-in-out;
}

.aboutme .column {
  display: flex;
  gap: 15px;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: rgb(19, 110, 91);
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(56, 44, 44);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */